* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 7%;
    background-color: #72590c;
    color: #fff;
}

nav .brand-name h2 {
    font-style: italic;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0 12px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease;
}

nav ul li a:hover {
    color: #ffffffc1;
    transition: 0.2s ease;
}

.hero {
    display: flex;
    align-items: center;
    padding: 50px 7%;
    gap: 40px;
}

.headline-title {
    flex: 1;
}

.header-image {
    flex: 1;
}

.header-image img {
    width: 100%;
    max-width: 500px;
}

.headline-title p {
    font-weight: 200;
}
